body {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }
 
  /* Text justified center for ALL */
  header, footer, aside, nav, main{
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  header, footer {
    height: 50px;
    background-color: red;
  }
 
  .container {
    overflow: hidden;
    margin: .5rem 0;
  }
 
  .container nav, .container aside {
    width: 200px;
    height: calc(100vh - 100px - 1rem);
  }
 
  .container main {
    float: left;
    width: calc(100% - 400px - 1rem);
    height: calc(100vh - 100px - 1rem);
    background-color: lightskyblue;
    margin: 0 .5rem;
  }
 
  .container nav {
    float: left;
    background-color: salmon;
  }
 
  .container aside {
    float: right;
    background-color: salmon;
  }